# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
/dist

# Debug log from npm
npm-debug.log

# sass
.sass-cache/
*.css.map
