.app-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3a1c71;
  background: linear-gradient(to left, #ffaf7b, #d76d77, #3a1c71);
}

.content {
  display: flex;
  max-width: 960px;
  border-radius: 10px;
  height: calc(100vh - 200px);
  background: #ffffff;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);

  @include breakpoint(xs) {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.sidebar {
  overflow: auto;
  height: 100%;
  width: 300px;
  border-radius: 10px 0 0 10px;

  @include breakpoint(xs) {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.main {
  width: 660px;

  &__empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint(xs) {
    display: none;
  }
}

.mobile-details {
  z-index: 5;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: showDetails 400ms ease both;

  @include breakpoint(md) {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    background: #000000;
  }

  &__back-link {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@keyframes showDetails {
  from {
    transform: translate3d(100vw, 0, 0);
    opacity: 0.5;
  }

  to {
    transform: none;
    opacity: 1;
  }
}
